{% extends "/layouts/base.twig" %}

{% block layout %}
<div>
  <div class="container">
    <div class="flex flex-col max-w-xl mx-auto md:gap-4">
      {% include "sections/header.twig" %}

      <div>
        {% block template %}{% endblock %}
        {% include "/sections/footer.twig" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="assets/app.js?v={{ version }}"></script>
{% endblock %}